<?xml version="1.0"?>
<opencv_storage>
<FPS>30</FPS>
<FRAME_WIDTH>640</FRAME_WIDTH>
<FRAME_HEIGHT>480</FRAME_HEIGHT>
<WINDOW_NAME>"Camera capture"</WINDOW_NAME>
<USE_CAMERA>1</USE_CAMERA>
<EXAMPLE_IMAGE_FILENAME>example.jpg</EXAMPLE_IMAGE_FILENAME>
<WRITE_VIDEO>1</WRITE_VIDEO>
<WRITE_FILENAME>capture.mpeg</WRITE_FILENAME>
<FRAMES_PER_CALIBRATION>30</FRAMES_PER_CALIBRATION>
<CALIBRATION_DELAY>1.</CALIBRATION_DELAY>
<BORDER_SIZE>2</BORDER_SIZE>
<REGION_SIZE>40</REGION_SIZE>
<STEP_SIZE>5</STEP_SIZE>
<MARKERS_BUFFER_EXPIRATION_TIME>500</MARKERS_BUFFER_EXPIRATION_TIME>
</opencv_storage>
